@if (showShell()) {
  <div class="app-shell" [class.collapsed]="collapsed()">
    <app-sidebar
      [mobileOpen]="mobileOpen()"
      [collapsed]="collapsed()"
      (toggleCollapse)="toggleCollapse()"
      (closeDrawer)="closeSidebarDrawer()">
    </app-sidebar>

    @if (mobileOpen()) {
      <div class="scrim" (click)="closeSidebarDrawer()"></div>
    }

    <div class="main-col">
      <app-navbar
        (toggleSidebar)="toggleSidebar()"
        (toggleProfile)="toggleProfile()"
        [profileOpen]="visibleProfile()">
      </app-navbar>

      <main id="view">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
} @else {
  <router-outlet></router-outlet>
}
