/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# dependencies
/node_modules

# angular build
/dist
/.angular

# tauri
/src-tauri/target

# IDE
.vscode/

# System files
.DS_Store
Thumbs.db