<div class="d-flex flex-column align-items-center justify-content-center" style="height: 90vh;">

  <button class="btn btn-bd-primary mb-2 w-100" [routerLink]="['/home', userId]">Home</button>
  <button class="btn btn-bd-primary mb-2 w-100" routerLink="/activities">Actividades</button>
  <button class="btn btn-bd-primary mb-2 w-100" routerLink="/forum">Foro U</button>
  <button class="btn btn-bd-primary mb-2 w-100" routerLink="/games">Mini juegos</button>

  <div class="mt-auto" style="width: 100%;">
    <button class="btn btn-outline-danger w-100" (click)="cerrarSesion()">
      Cerrar sesión
    </button>
  </div>

</div>