<app-navbar
(toggleSidebar)="toggleSidebar()" (toggleProfile)="toggleProfile()"></app-navbar>

<div class="container-fluid">
  <div class="row">
    
    @if (visibleSideBar()) {
      <aside class="col-md-3 d-none d-md-block bg-white border-end">
        <app-sidebar></app-sidebar>
      </aside>
    }

    <main class="p-4"
      [class.col-md-6]="visibleSideBar()"
      [class.col-md-9]="visibleSideBar()"
      [class.col-md-12]="!visibleSideBar()">

      <router-outlet></router-outlet>

    </main>

    @if (visibleProfile()) {
      <section class="col-md-3 p-4">
        <app-profile class="profile-overlay" (toggleProfile)="toggleProfile()"
        animate.enter="slideIn"
        animate.leave="slideOut"
        ></app-profile>
      </section>
    }

  </div>
</div>