<div class="p-3">
  <div class="d-flex align-items-center gap-3 mb-4">
    <app-avatar [size]="80" src='https://imgs.search.brave.com/QDhdk-skqTiJkqT2Nn6JmHD4cHl1pJvSvlJ8teJNPA4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMud2lraWEubm9j/b29raWUubmV0L3Jl/aW5vYW5pbWFsaWEv/aW1hZ2VzLzAvMGEv/Wm9ycm9fcm9qb182/LnBuZy9yZXZpc2lv/bi9sYXRlc3Qvc2Nh/bGUtdG8td2lkdGgt/ZG93bi8zNjg_Y2I9/MjAxMzA0MjMyMjE1/MDgmcGF0aC1wcmVm/aXg9ZXM'></app-avatar>
    <div>
      <h5 class="mb-0 fw-bold">Nombre</h5>
      <p class="text-muted small mb-0">Puntos: 1250</p>
    </div>
  </div>
  <div class="description-box p-3 bg-light rounded shadow-sm">
    <p class="text-secondary small">Descripcion del estudiante</p>
  </div>
</div>
