
<div class="d-flex flex-column align-items-center justify-content-center" style="height: 90vh;">

  <button class="btn btn-bd-primary mb-2 w-100" routerLink="/">Home</button>
  <button class="btn btn-bd-primary mb-2 w-100" routerLink="/activities">Actividades</button>
  <button class="btn btn-bd-primary mb-2 w-100" routerLink="/forum">Foro U</button>
  <button class="btn btn-bd-primary mb-2 w-100" routerLink="/games">Mini juegos</button>

  <div class="mt-auto" style="width: 100%;">
    <i class="bi bi-gear fs-3">⚙️</i>
  </div>
</div>