<main>
    <header>
        <div><app-navbar></app-navbar></div>
    </header>
    <div class="miniGamesCards">

        <div class="card text-bg-dark card " >
            <img src="images/games/uno-ejemplo.png" alt="" class="card-img">
            <div class="card-img-overlay cardBtn ">
                <a href="#" class="btn btn-primary">Jugar</a>
            </div>
        </div>
        
        <div class="card text-bg-dark card ">
            <img src="images/games/parchis-ejemplo.png" alt="" class="card-img">
            <div class="card-img-overlay cardBtn ">
                <a href="#" class="btn btn-primary">Jugar</a>
            </div>
        </div>


    </div>

    
    
</main>
